body{
	background: rgb(250,199,204);
background: linear-gradient(90deg, rgba(250,199,204,1) 0%, rgba(210,169,173,1) 49%, rgba(145,119,121,1) 100%);
	text-align: center;
	font-size: 50px;
	font-family: Omerlian;
	text-decoration-color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.one{
	text-align: center;
	font-family: Omerlian;
	font-size: 50px;
	text-decoration-color: black;
}

#two {
	text-align: center;
	font-size: 30px;
	color:black;
	font-family: Omerlian;
	text-decoration-style: black;
}

#five {
	text-align: center;
	font-size: 30px;
	color:black;
	font-family: Omerlian;
	text-decoration-style: black;
}
